<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UUChat - Chat Search</title>
    <link rel="stylesheet" href="../static/css/common.css" />
    <script src="https://unpkg.com/react@15.6.1/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15.6.1/dist/react-dom.min.js"></script>
</head>
<body>
<div id="UUCHAT-Search"> <div class="chat-loading"><div class="bounce bounce1"></div><div class="bounce bounce2"></div><div class="bounce bounce3"></div></div></div>
</body>
</html>