#console-body .logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
}

#console-body .ant-layout-sider-collapsed .anticon {
    font-size: 16px;
    margin-left: 8px;
}

#console-body .ant-layout-sider-collapsed .nav-text {
    display: none;
}

#console-body .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
    display: none;
}

#console-body .ant-breadcrumb {
    margin: 16px 0px;
}

#console-body .ant-layout-content {
    min-height: calc(100vh - 113px);
}

#console-body .user-avatar {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    vertical-align: middle;
}

.rightWarpper {
    float: right;
    padding-right: 16px;
}

#console-body .rightWarpper .ant-menu-root:hover {
    color: #108ee9;
    background-color: #8fc9fb;
}

#console-body .rightWarpper .ant-menu-item:hover {
    color: #108ee9;
    background-color: #8fc9fb;
}

.numberCard {
    padding: 32px;
    margin-bottom: 24px;
    cursor: pointer;
}

.numberCard .iconWarp {
    font-size: 54px;
    float: left;
}

.numberCard .content {
    width: 100%;
    padding-left: 78px;
}

.numberCard .content .title {
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 16px;
    height: 16px;
}

.numberCard .content .number {
    line-height: 32px;
    font-size: 24px;
    height: 32px;
}

.table-deals {
    margin-bottom: 16px;
}

.table-search {
    width: 50%;
    display: inline-block;
}

.table-operations {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.table-deals button {
    margin-left: 8px;
}

.ant-table-expanded-nested .ant-table-expanded-row > td:last-child {
    padding: 0 48px 0 8px;
}

.ant-table-expanded-nested .ant-table-expanded-row > td:last-child .ant-table-thead th {
    border-bottom: 1px solid #e9e9e9;
}

.ant-table-expanded-nested .ant-table-expanded-row > td:last-child .ant-table-thead th:first-child {
    padding-left: 0;
}

.ant-table-expanded-nested .ant-table-expanded-row > td:last-child .ant-table-row td:first-child {
    padding-left: 0;
}

.ant-table-expanded-nested .ant-table-expanded-row .ant-table-row:last-child td {
    border: none;
}

.ant-table-expanded-nested .ant-table-expanded-row .ant-table-thead > tr > th {
    background: none;
}

.ant-table-expanded-nested .table-operation a:not(:last-child) {
    margin-right: 24px;
}

.scroll-loader {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

.ant-table {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    overflow: hidden;
    position: relative;
    border-radius: 4px 4px 0 0;
    /* fix firefox scrollbar bug */
}

.ant-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

.ant-table-thead > tr > th {
    background: #f7f7f7;
    font-weight: 500;
    transition: background .3s ease;
    text-align: left;
    color: rgba(0, 0, 0, 0.85);
}

.ant-table-thead > tr > th[colspan] {
    text-align: center;
}

.ant-table-tbody > tr > td {
    border-bottom: 1px solid #e9e9e9;
    transition: all .3s;
}

.ant-table-thead > tr.ant-table-row-hover > td,
.ant-table-tbody > tr.ant-table-row-hover > td,
.ant-table-thead > tr:hover > td,
.ant-table-tbody > tr:hover > td {
    background: #ecf6fd;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
    padding: 16px 8px;
    word-break: break-all;
}