.chat-console div,
.chat-console span,
.chat-console h1,
.chat-console h2,
.chat-console h3,
.chat-console h4,
.chat-console h5,
.chat-console h5,
.chat-console h6,
.chat-console ul,
.chat-console li,
.chat-console a,
.chat-console p,
.chat-console pre,
.chat-console textarea,
.chat-console input
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
.chat-console a{
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
.chat-console{
    position: fixed;
    right: 20px;
    bottom: 80px;
    z-index:2999;
    width: 400px;
    background-color: #fff;
    border-radius: 10px 10px 5px 5px;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.chat-console .chat-body{
    height: 590px;
    height:500px\0;
    border-left: 1px solid #ccc\0;
    border-right: 1px solid #ccc\0;
    border-bottom: 1px solid #ccc\0;
    border-radius: 10px;
    box-shadow: 0 5px 40px rgba(0,0,0,.16)!important;
}
:root .chat-console .chat-body{
    border: none;
}
.chat-console.chat-console-hidden{
    bottom: -160%;
}
.chat-console .chat-header{
    padding: 0 20px;
    background: #1f8ceb;
    height: 50px;
    line-height: 50px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    color: #fff;
}
.chat-console .status-title:after {
    content: ' .';
    -webkit-animation: dots 1s steps(5, end) infinite;
    animation: dots 1s steps(5, end) infinite;
}
.chat-header  .chat-avatar{
    position: absolute;
    left: 20px;
    top: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.chat-header  .chat-avatar img{
    width: 100%;
    border-radius: 100%;
    box-shadow:1px 1px 1px 1px #ededed;
}
.chat-console .chat-loading{
    display: none\0;
    margin: 190px auto 0 auto;
    width: 150px;
    text-align: center;
}
.chat-console .chat-loading .bounce{
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-color: #1f8ceb;
    border-radius: 100%;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.chat-console .chat-loading .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.chat-console .chat-loading .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.chat-console .chat-msg{
    padding: 0 20px;
    height:490px;
    height: 400px\0;
    overflow-y: auto;
}
.chat-console .chat-msg.loading:before{
    content: '';
    display: block;
    margin: 2px auto;
    width: 20px;
    height: 20px;
    border-left:2px solid rgba(0, 133, 253, 1);
    border-bottom:2px solid rgba(0, 0, 0, 0.2);
    border-right:2px solid rgba(0, 0, 0, 0.2);
    border-top:2px solid rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    -webkit-animation: loading 1s linear infinite;
    animation: loading 1s linear infinite;
    pointer-events: none;
}
.chat-console .upload-tips{
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 9999;
    width: 100%;
    height:30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}
.chat-console .chat-msg .chat-item{
    margin: 10px 0;
}
.chat-console .chat-msg .chat-time{
    margin: 20px 0;
    text-align: center;
}
.chat-console .chat-msg .chat-time i{
    padding: 2px 10px;
    font-style: normal;
    background: rgba(0, 0, 0, 0.1);
}
.chat-item .chat-text img{
    max-width: 100%;
}
.chat-item .chat-text .new-conversation{
    padding: 5px 10px;
    border-radius: 20px;
    background-color:#7c92b0;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}
.chat-item .chat-text{
    position: relative;
}
.chat-from .chat-text::before{
    content: '';
    position: absolute;
    left: -6px;
    top: 10px;
    width: 0;
    height: 0;
    border-right: 6px solid #f4f7f9;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    -webkit-transition: border 0.8s linear 0.5s;
    transition: border 0.8s linear 0.5s;
}
.chat-to .chat-text::before{
    content: '';
    position: absolute;
    right: -6px;
    top: 10px;
    width: 0;
    height: 0;
    border-left: 6px solid #f4f7f9;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    -webkit-transition: border 0.8s linear 0.5s;
    transition: border 0.8s linear 0.5s;
}
.chat-to.done .chat-text::before{
    border-left-color: #1f8ceb;
}
.chat-to .chat-text a{
    color: #fff;
    text-decoration: underline;
}
.chat-to .resend-btn {
    display: inline-block;
    position: absolute;
    left: -24px;
    top: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    background: #FF0000;
    color: #fff;
    border-radius: 100%;
    text-align: center;
}
.chat-console .chat-role{
    margin-bottom: 2px;
    line-height: 14px;
    font-size: 12px;
    color:#b2b2b2;
}
.chat-console .chat-to .chat-role{
    text-align:right;
}
.chat-console .chat-role i{
    font-style: normal;
    margin-right: 5px;
}

.chat-console .chat-msg .chat-text{
    display: inline-block;
    padding: 5px 10px;
    max-width: 300px;
    background-color: #f4f7f9;
    border-radius: 5px;
    word-break: break-all;
    font-size: 14px;
    line-height: 18px;
    font-family: "Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
}
.chat-console .chat-to{
    text-align: right;
}
.chat-console .chat-to .chat-text{
    color:#000;
    background-color:#3c80ba;
    text-align: left;
    -webkit-transition: background-color 0.8s linear 0.5s;
    transition: background-color 0.8s linear 0.5s;
}
.chat-console .chat-to.done .chat-text{
    background-color: #1f8ceb;
    color: #fff;
}
.chat-console .rate-box{
    padding: 0 10px;
}
.chat-console .rate-heart{
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #1f8ceb;
}
.chat-console .rate-heart span{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    color: red;
    background: url(../images/heart.svg) no-repeat center center;
    background-size: 100% 100%;
    text-indent: -99999em;
    cursor: pointer;
}
.rate-heart span.active{
    background: url(../images/heart_selected_red.svg) no-repeat center center;
    background-size: 100% 100%;
}
.chat-console .rate-btn{
    margin-top: 10px;
    float: right;
    width: 40px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.chat-console .rate-btn:hover{
    background-color:#1f8ceb;
    color: #fff;
}
.chat-console  .chat-send{
    position: relative;
    padding-top: 50px;
    background-color: #e9eaeb;
    border-radius: 0 0 10px 10px;
}
.chat-console  .chat-send-text{
    position: absolute;
    left: 0;
    right:0;
    bottom:0;
    width: 400px;
    min-height: 50px;
    min-height: 30px\0;
    max-height: 100px;
    background-color: #e9eaeb;
    border-radius: 0 0 5px 5px;
}
.chat-console  .chat-send-area{
    position:absolute;
    bottom:0;
    left:0;
    padding:16px 70px 16px 10px;
    width: 100%;
    height:100%;
    font-weight: 400;
    font-family: "Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
    font-size: 13px;
    line-height: 16px;
    resize:none;
    border:none;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow:hidden;
    background-color: #e9eaeb;
    border-radius: 0 0 5px 5px;
    -webkit-transition: background-color .2s ease,box-shadow .2s ease;
    transition: background-color .2s ease,box-shadow .2s ease;
}

.chat-console  .chat-send-area:hover,
.chat-console  .chat-send-area:focus{
    background-color: #fff;
    box-shadow: 0 -1px 10px #eaeaea;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea\0;
    border-right: 1px solid #eaeaea\0;
    border-bottom: 1px solid #eaeaea\0;
    outline:none;
}
.chat-console  .chat-send-btns{
    position: absolute;
    top: 13px;
    right: 0;
    padding-right: 10px;
    height: 28px;
    text-align: right;
}
.chat-console  .chat-send-btns .chat-send-btn{
    display: inline-block;
    position: relative;
    margin-left: 5px;
    width: 20px;
    height:20px;
    text-align: center;
    cursor: pointer;
    overflow:hidden;
    vertical-align: middle;
    border: none;
    background-color: transparent;
}
.chat-console  .chat-send-btns .chat-send-btn:focus{
    outline: none;
}
.chat-console .emoji-lists{
    position: absolute;
    bottom: 43px;
    right: 20px;
    width: 360px;
    height: 170px;
    border-radius: 6px;
    border:1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    box-shadow: 0 1px 15px 1px rgba(0,0,0,.12);
}
.chat-console .emoji-lists .emoji-picker-lists{
    padding: 5px;
    width: 360px;
    height: 165px;
    overflow-y: auto;
    text-align: left;
}
.chat-console .emoji-lists .emoji-picker-lists::-webkit-scrollbar{
    display: none;
}
.chat-console .emoji-lists .arrow{
    display: inline-block;
    position: absolute;
    bottom: -20px;
    right: 17px;
    border-left: 8px solid transparent;
    border-top: 10px solid #fff;
    border-right: 8px solid transparent;
    border-bottom: 10px solid transparent;
}
.chat-console  .emoji-lists.emoji-lists-hidden{
    display: none;
}
.chat-console  .emoji-lists .emoji-title{
    display: block;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.chat-console .emoji-lists .emoji-item{
    display: inline-block;
    margin: 3px 7px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
    color: #1f8ceb;
    overflow: hidden;
}
.chat-console .emoji-lists .emoji-item:hover{
    font-size: 28px;
}
.chat-console  .chat-upload{
    display: none;
}

.chat-console .chat-file-btn{
    background: url(../images/upload.svg) no-repeat center center;
    background-size: 100% 100%;
}
.chat-console .chat-file-btn:hover{
    background: url(../images/upload_selected.svg) no-repeat center center;
    background-size: 100% 100%;
}
.chat-console .chat-emoji-btn{
    background: url(../images/emoji.svg) no-repeat center center;
    background-size: 100% 100%;
}
.chat-console .chat-emoji-btn:hover{
    background: url(../images/emoji_selected.svg) no-repeat center center;
    background-size: 100% 100%;
}
.chat-console .chat-btn{
    position: fixed;
    right: 20px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background-color:#1f8ceb;
    border-radius: 200%;
    cursor: pointer;
    -wenkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-animation: slideUp 0.3s linear;
    animation: slideUp 0.3s linear;
}
.chat-console .chat-btn-open{
    background: #1f8ceb url(../images/c_w.png) no-repeat center center;
    background-size: 70%;
}
.chat-console .chat-btn-close{
    -webkit-transition: transform 0.3s linear;
    transition: transform 0.3s linear;
    background: #1f8ceb url(../images/close.svg) no-repeat center center;
}

.chat-console .chat-btn.chat-btn-close:hover{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    background: #1f8ceb url(../images/close.svg) no-repeat center center;
}

.chat-btn .chat-nums{
    position: absolute;
    top: -5px;
    right: 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    background-color: #e74c3c;
    border-radius: 100%;
    font-size: 12px;
    cursor: pointer;
}
.chat-main .reconnect-btn{
    position: absolute;
    bottom: 100px;
    left: 115px;
    margin: 0 auto;
    line-height: 45px;
    width: 170px;
    background-color:#7c92b0;
    color:#fff;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    font-size: 14px;
}
.chat-main .reconnect-btn img{
    vertical-align: middle;
}
.chat-offline{
    display: flex;
    align-items: center;
    height: 450px;
}
.chat-offline .chat-error{
    border: 1px solid #ff0000;
    padding: 10px 20px;
    margin: 0 auto;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 14px;
}
.chat-offline .offline-tips{
    color: #ff0000;
}
.chat-offline .line-up{
    margin: 0 auto;
    padding: 8px 0;
    width: 94%;
    background-color:#1f8ceb;
    color:#fff;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    animation: flash 1s infinite;
}
/* email notify */
.chat-main .email-notify{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    width: 250px;
    background: #fff;
    border-radius: 5px;
}

.chat-main .email-notify h2{
    line-height: 25px;
    font-weight: 400;
}
.chat-main .email-notify h5{
    margin-top: 10px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}
.chat-main .email-notify a{
    color: #1f8ceb;
}
.chat-main .email-notify .text-field{
    margin: 5px 0;
    border-radius: 2px;
    background: #fafbfc;
    overflow: hidden;
}
.chat-main .email-notify .email-input{
    display: inline-block;
    padding: 5px;
    float: left;
    width: 178px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
}
.chat-main .email-notify.error .email-input{
    background: rgba(252, 87, 107, 0.15);
    color: rgba(0, 0, 0, 0.9);
}
.chat-main .email-notify .email-btn{
    position: relative;
    display: inline-block;
    float: right;
    height: 30px;
    width: 30px;
    background: #0e77ca;
    cursor: pointer;
}
.chat-main .email-notify .email-btn:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 7px;
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background: none;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotateX(-45deg);
    transform: rotate(-45deg);
}
.chat-main .email-notify .email-error{
    line-height: 20px;
    color: #fc576b;
    font-size: 12px;
    display: none;
}
.chat-main .email-notify.error .email-error{
    display: block;
}
.chat-main .sys-msg{
    overflow-x: hidden;
}
.chat-main .sys-msg a{
    text-decoration: underline;
    color: #1f8ceb;
}
.chat-main .sys-msg a:hover{
    opacity: 0.8;
}
.chat-main .sys-msg .sys-msg-item{
    display: inline-block;
    padding: 8px;
    margin-bottom: 12px;
    background: #f2f2f2;
    border-radius: 4px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}
.chat-main .sys-msg{
    padding-bottom: 12px;
}
.chat-main .sys-msg .sys-faq{
    display: inline-block;
    padding: 4px 16px;
    margin: 8px;
    border: 1px solid #777777;
    border-radius: 100%;
    color: #1f8ceb;
    text-align: center;
    cursor: pointer;
}
.chat-main .sys-msg .sys-faq:hover{
    background: #1f8ceb;
    color: #ffffff;
}
.chat-main .sys-msg .sys-msg-no{
    display: inline-block;
    background: #d7d7d7;
    padding: 12px;
    color: #212121;
}
.chat-main .sys-msg .sys-collection-item{
    display: inline-block;
    padding: 8px 4px;
    width: 30%;
    height: 38px;
    margin: 1%;
    border: 1px solid #9E9E9E;
    color: #1f8ceb;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-decoration: none;
    border-radius: 4px;
}
.chat-main .sys-msg .sys-collection-item:hover{
    background: #1f8ceb;
    color: #ffffff;
}
.chat-main .sys-msg .sys-issue-item{
    display: inline-block;
    margin-bottom: 8px;
    padding: 4px 8px;
    color: #1f8ceb;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    -webkit-transition: padding 0.3s linear;
    transition: padding 0.3s linear;
}
.chat-main .sys-msg .sys-issue-back{
    vertical-align: bottom;
    color: #616161;
}
.chat-main .sys-msg .issue-arrow{
    font-size: 18px;
    font-style: normal;
}
.chat-main .sys-msg .sys-issue-item:hover{
    padding-left: 16px;
    background: #f2f2f2;
}
.chat-main .sys-issue-btn span{
    display: inline-block;
    padding: 16px;
    margin-right: 16px;
    border: 1px solid #bdbdbd;
    color: #1f8ceb;
    border-radius: 100%;
    cursor: pointer;
}
.chat-main .sys-issue-btn span:hover{
    background: #1f8ceb;
    color: #ffffff;
}
@media screen and (max-height:768px){
    .chat-console .chat-body{
        height: 500px;
    }
    .chat-console .chat-msg{
        height: 400px;
    }
    .chat-console .chat-offline{
        height: 450px;
        height: 430px\0;
    }
}
@media screen and (max-width:640px){
    .chat-console{
        width: calc(100% - 40px);
        height: calc(90vh - 50px);
    }
    .chat-console .chat-offline,
    .chat-console .chat-body{
        height: 100%;
    }
    .chat-console .chat-msg{
        height: calc(90vh - 150px);
    }
    .chat-console .chat-send-text{
        width: 100%;
    }
}
@-webkit-keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }
    40% {
        color: white;
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }
    60% {
        text-shadow: .25em 0 0 white, .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
        text-shadow: .25em 0 0 white, .5em 0 0 white;
    }
}
@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }
    40% {
        color: white;
        text-shadow: .25em 0 0 rgba(0,0,0,0), .5em 0 0 rgba(0,0,0,0);
    }
    60% {
        text-shadow: .25em 0 0 white, .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
        text-shadow: .25em 0 0 white, .5em 0 0 white;
    }
}

@keyframes flash{
    50%{
        opacity: 0.95;
        padding-left: 10px;
    }
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
@-webkit-keyframes slideUp{
    0%{
        -webkit-transform: translateY(50px);
    }
    100%{
        -webkit-transform: translateY(0);
    }
}
@keyframes slideUp{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}

@-webkit-keyframes loading {
    to{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes loading {
    to{
        transform: rotate(360deg);
    }
}