.uuchat-customerSuccess{
    height: 100%;
    background-color:#f6f5f5;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow-y: auto;
}
.uuchat-customerSuccess.off{
    background-color:#353359;
}
.uuchat-customerSuccess .customerSuccess-main{
    margin: 30px;
    height: calc(88%);
    border:1px solid #fdfdfd;
    border-radius: 4px;
    background-color:#fff;
    box-shadow: 0 0 2px 2px #ccc;
    overflow: hidden;
}

.customerSuccess-header{
    padding: 10px 30px;
    min-height: 50px;
    line-height: 30px;
    background-color: #f3f2f1;
    box-shadow: 0 1px 2px #ccc;
    background: #fff url(../images/uuchat_logo_48.png) no-repeat center center;
}
.uuchat-customerSuccess.off .customerSuccess-header{
    background-color:#353359;
    box-shadow: 0 1px 2px #353359;
}
.customerSuccess-header .header-menu{
    padding-left: 100px;
}
.customerSuccess-header .status-bar, .logout{
    display: inline-block;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.customerSuccess-header .user-avatar-box a{
    color: #666;
}
.customerSuccess-header .user-avatar-box a:hover{
    color: #fff;
    background-color: #ccc;
}
.customerSuccess-header .status-bar i{
    display:inline-block;
    margin-right: 5px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color:#7ba266;
}
.customerSuccess-header .status-bar i.off{
    background: #d95228;
}
.customerSuccess-header .menu-item{
    display:inline-block;
    padding: 0 5px;
    margin-left:30px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}
.customerSuccess-header .menu-item:hover{
    background-color:#108ee9;
    color: #fff;
}

.customerSuccess-header .user-avatar{
    text-align: right;
}
.customerSuccess-header .m-menu{
    display: none;
    float: left;
    margin-left: -20px;
    width:30px;
    height: 30px;
    text-align: left;
    font-size: 24px;
    color: #1f8ceb;
}
.customerSuccess-header .m-menu:after{
    content: '☰'
}
.customerSuccess-header .user-avatar img{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    vertical-align: middle;
}
/* chat lists */

.customerSuccess-left{
    padding: 20px 3%;
    height: calc(100vh);
    border-right: 1px solid #d8dddf;
    overflow-y: auto;
}
.customerSuccess-left .left-menu{
    margin-bottom: 10px;
}
.customerSuccess-main .customerSuccess-left .ant-tabs-tab{
    margin-right:10px;
}
.customerSuccess-left li{
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
}
.customerSuccess-left li:first-child{
    margin-top: 10px;
}
.customerSuccess-left li:after,
.customerSuccess-left li:before{
    display: table;
    content: '';
}
.customerSuccess-left li:after{
    clear:both;
}
.customerSuccess-left li.active,
.customerSuccess-left li:hover{
    cursor:pointer;
    background-color: #eff1f5;
}
.customerSuccess-left li:hover .chat-close{
    display: block;
}

.customerSuccess-left li .chat-close{
    display:none;
    position: absolute;
    left: 0;
    top: -10px;
    z-index: 100;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    background-color:#ccc;
    color: #fff;
}
.customerSuccess-left li .chat-notify{
    display:inline;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    padding: 0 5px;
    height: 15px;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;
    background-color:#ccc;
    color: #fff;
}
.customerSuccess-left .chat-avatar{
    width: 25%;
}
.customerSuccess-left .avatar-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    font-size: 20px;
    color: #fff;
}
.avatar-icon-0,
.avatar-icon-1,
.history-header-0 .ant-modal-header,
.history-header-1 .ant-modal-header{
    background-color:#1abc9c;
}
.avatar-icon-2,
.history-header-2 .ant-modal-header{
    background-color:#2ecc71;
}
.avatar-icon-3,
.history-header-3 .ant-modal-header{
    background-color:#3498db;
}
.avatar-icon-4,
.history-header-4 .ant-modal-header{
    background-color:#9b59b6;
}
.avatar-icon-5,
.history-header-5 .ant-modal-header{
    background-color:#16a085;
}
.avatar-icon-6,
.history-header-6 .ant-modal-header{
    background-color:#27ae60;
}
.avatar-icon-7,
.history-header-7 .ant-modal-header{
    background-color:#2980b9;
}
.avatar-icon-8,
.history-header-8 .ant-modal-header{
    background-color:#8e44ad;
}
.avatar-icon-9,
.history-header-9 .ant-modal-header{
    background-color:#f1c40f;
}
.avatar-icon-10,
.history-header-10 .ant-modal-header{
    background-color:#e67e22;
}
.avatar-icon-11,
.history-header-11 .ant-modal-header{
    background-color:#e74c3c;
}
.avatar-icon-12,
.history-header-12 .ant-modal-header{
    background-color:#f39c12;
}
.avatar-icon-13,
.history-header-13 .ant-modal-header{
    background-color:#d35400;
}
.avatar-icon-14,
.avatar-icon-15,
.history-header-14 .ant-modal-header,
.history-header-15 .ant-modal-header{
    background-color:#c0392b;
}
.history-header .ant-modal-header{
    border-radius: 2px 2px 0 0;
}
.history-header .ant-modal-title,
.history-header .ant-modal-close{
    color: #fff;
}
/* contact list */
.customerSuccess-left .chat-avatar img{
    border-radius: 100%;
}
.customerSuccess-left .contact-list{
    height: calc(75vh);
}
.customerSuccess-left .customer-lists{
    height: 100%;
    overflow-y: auto;
}
.customerSuccess-left .customer-lists::-webkit-scrollbar{
    display: none;
}
.customerSuccess-left .contact-list li{
    position: relative;
    margin-bottom: 3px;
}
.customerSuccess-left .chat-list-name,
.customerSuccess-left .chat-news{
    width: 75%;
}
.customerSuccess-left .chat-news h2{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #222;
}
.customerSuccess-left .chat-list-name h2{
    line-height: 40px;
}
.customerSuccess-left .chat-news p{
    height: 20px;
    line-height: 20px;
    font-weight: bold;
}

.customerSuccess-left .chat-icon{
    width: 40px;
    height: 40px;
}
.customerSuccess-left .chat-icon img{
    width: 40px;
    height: 40px;
}
.customerSuccess-left .ant-tabs-nav{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}
.customerSuccess-left .chat-chats-icon{
    background: url(../images/chat.png) no-repeat center center;
    background-size: 100%;
}
.historyMessage .ant-modal-title,
.historyMessage .ant-modal-close{
    color: #fff;
}
/* offline content */
.chat-offline-msg{
    margin-bottom: 20px;
    font-size: 16px;
}
.chat-offline-t{
    color: #ccc;
}
/* chat menu */
.customerSuccess-left .chat-menu{
    border-bottom:1px solid #d8dddf;
}
.customerSuccess-left  .chat-menu-header{
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ccc;
    cursor: pointer;
}
/* chat messages contents */
.customer-content{
    width:100%;
    background-color: #fdfdfd;
}
.customerSuccess-content .chat-message{
    height: calc(63vh);
    padding:0 10px;
    border-bottom: 1px solid #d8dddf;
    overflow: hidden;
}
.customerSuccess-content .message-lists{
    padding: 0 10px;
    height:calc(64vh - 50px);
    overflow-y: auto;
}
.chat-lists-history{
    max-height: 400px;
    overflow-y: auto;
}
.customerSuccess-content .message-title{
    width: 100%;
    height:40px;
    line-height: 40px;
    color: #000;
    font-size:14px;
    border-bottom: 1px solid #d8dddf;
}
.customerSuccess-content .chat-tags{
    position: relative;
    top: 4px;
    padding: 0 10px;
    height: 30px;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.customerSuccess-content .chat-tags:hover{
    background-color: #ccc;
}
.customerSuccess-content .chat-tags .more-options{
    position: absolute;
    top: 40px;
    right: 0;
    padding: 5px 0;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
}
.chat-tags .more-options .caret{
    position: absolute;
    top: -10px;
    right: 5px;
    display: inline-block;
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
}
.chat-tags .more-options .caret:after{
    content: '';
    position: absolute;
    top: 1px;
    right: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid #fff;
}
.chat-tags .more-options h3{
    margin: 0 10px 10px 10px;
    line-height: 30px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}
.chat-tags .more-options li{
    margin-bottom: 5px;
    padding: 0 10px;
    width: 220px;
    line-height: 30px;
    font-weight: bold;
}
.chat-tags .more-options li:hover{
    background-color:#258fd5;
    color: #fff;
}
.chat-tags .more-options .options-close{
    font-size: 12px;
    cursor: pointer;
}

.mark-color-list .mark-tag {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    cursor: pointer;
    text-indent: -999999em;
}
.mark-color-list .tag-red{
    background-color: #ff6161;
}
.mark-color-list .tag-orange{
    background-color: #fca654;
}
.mark-color-list .tag-yellow{
    background-color: #f7cf5b;
}
.mark-color-list .tag-green{
    background-color: #5dcb5b;
}
.mark-color-list .tag-blue{
    background-color: #33b8f1;
}
.mark-color-list .tag-purple{
    background-color: #d487df;
}
.mark-color-list .tag-grey{
    background-color: #a5a5a7;
}
.mark-color-list .mark-tag-all{
    color: #258fd8;
    text-indent: 0em;
    text-decoration: underline;
}
.mark-color-list .mark-tag.selected{
    box-shadow: 0 0 5px #000;
}
.mark-filter{
    padding: 5px 0;
    margin-bottom: 10px;
    text-align: center;
}
.mark-filter .mark-tag{
    width: 15px;
    height: 15px;
}
.marked-tag{
    display:inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.marked-tag.marked-1{
    background-color: #ff6161;
}
.marked-tag.marked-2{
    background-color: #fca654;
}
.marked-tag.marked-3{
    background-color: #f7cf5b;
}
.marked-tag.marked-4{
    background-color: #5dcb5b;
}
.marked-tag.marked-5{
    background-color: #33b8f1;
}
.marked-tag.marked-6{
    background-color: #d487df;
}
.marked-tag.marked-7{
    background-color: #a5a5a7;
}
/* setting */
.customerSuccess-setting li{
    margin-bottom: 5px;
    font-size: 16px;
}
.account-item{
    padding: 5px 0;
}
.account-item p{
    line-height: 20px;
    color: #222;
    font-weight: bold;
}
.avatar-box{
    position: relative;
}
.avatar-box img{
    padding: 5px;
    border:1px solid #ccc;
    border-radius: 3px;
}
.avatar-process{
    position: absolute;
    top:0;
    left: 0;
    width: 112px;
    height: 112px;
    line-height: 100px;
    text-align: center;
    color:#fff;
    font-size: 14px;
    background-color: rgba(0, 0, 0, .6);
}
.avatar-upload{
    display:inline-block;
    margin-top: 10px;
    padding: 5px 8px;
    border:1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}
.change-passwd p{
    margin-top: 10px;
    line-height: 20px;
    font-weight: bold;
}
.theme-setting h4{
    line-height: 30px;
    color: #000;
    font-size: 16px;
}
.theme-setting h4 i{
    color: #FF0000;
}
.theme-setting .background-menu{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.theme-setting .background-menu h3{
    text-align: center;
    font-size: 16px;
}
.theme-setting .menu-item{
    display: inline-block;
    margin: 0 1%;
    width: 30%;
    height: 7pc;
    cursor: pointer;
}
.theme-setting .menu-item img{
    border-radius: 5px;
}
.theme-setting .menu-item img:hover{
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.theme-background{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 6px;
    height: 270px;
    overflow: auto;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
}

.theme-background span{
    position: relative;
    display: inline-block;
    margin: 3px;
    width: 154px;
    height: 118px;
    border-radius: 4px;
    background: #039be5;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}
.theme-background span.color-type:last-child{
    box-shadow:0 0 1px 1px rgba(0, 0, 0, 0.2);
    background-image:-webkit-linear-gradient(-52deg, #fff 0%, #fff 50%, #ff0000 50%, #ff0000 52%, #fff 52%, #fff);
    background-image:linear-gradient(-37deg, #fff 0%, #fff 50%, #ff0000 50%, #ff0000 52%, #fff 52%, #fff);
}
.theme-background span a{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.5);
}
.theme-background span:hover{
    opacity: 0.8;
}
.theme-background img{
    margin: 10px;
    cursor: pointer;
}
.theme-background .loading{
    display: block;
    margin: 120px auto 0 auto;
    font-style: normal;
    font-size: 16px;
    color: #000;
}
    /* online customer lists */
.online-item{
    padding: 2px;
    margin-bottom: 5px;
    overflow: hidden;
    border: 1px solid #fff;
}
.online-item:hover{
    border-color:#108ee9;
}
.online-item .online-avatar{
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.online-item .online-avatar img{
    border-radius: 100%;
}
.online-item .online-name{
    line-height: 30px;
    font-weight: bold;
}
.online-item .online-btn{
    padding: 0 5px;
    line-height: 30px;
    background-color: #108ee9;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.message-lists .message-item{
    margin: 10px 0;
    overflow: hidden;
}
.message-lists::-webkit-scrollbar{
    display: none;
}
.message-lists .message-item:hover .short-item-setting{
    display: block;
}
.message-lists .message-item .msg-time-0,
.message-lists .message-item .msg-time-1,
.message-lists .message-item .msg-time-3,
.message-lists .message-item .msg-time-4{
    line-height: 15px;
    color: #ccc;
}
.message-lists .message-item .msg-time-0,
.message-lists .message-item .msg-time-4{
    padding-left: 40px;
}
.message-lists .message-item .msg-time-1,
.message-lists .message-item .msg-time-3
{
    padding-right: 40px;
    text-align: right;
}
.message-lists .message-item img{
    max-width: 100%;
    border-radius: 3px;
    vertical-align: middle;
}
.offline-content{
    margin: 10px 0;
    background-color: #fff;
}
.offline-email{
    color: #999;
}
.message-lists .message-avatar{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.message-lists .avatar-color{
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 100%;
}

.message-lists .message-avatar.fl{
    margin-right: 10px;
}
.message-lists .message-avatar.fr{
    margin-left: 10px;
    box-shadow: 0px 0px 1px 1px #ccc;
    border-radius: 100%;
}

.message-lists .message-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.message-lists .message-content{
    padding: 8px 10px;
    max-width: 460px;
    background-color: #f3f3f3;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    word-break: break-all;
    -webkit-transition: background-color 0.8s linear;
    transition: background-color 0.8s linear;
}

.message-lists .message-content.done {
    background-color: #edf9ff;
}

.chat-message .message-times{
    line-height: 30px;
    text-align: center;
}

.chat-send{
    height: calc(37vh);
}
.send-tools{
    padding: 8px;
    height: 40px;
    line-height: 25px;
}
.send-tools .tool-box{
    display:inline-block;
    margin-right: 20px;
    height: 20px;
    font-size: 20px;
    cursor:pointer;
    vertical-align: middle;
}
.send-tools .tool-emoji{
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.chat-send .send-tools .emoji-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/emoji.svg) no-repeat center center;
    background-size: 100% 100%;
}
.chat-send .send-tools .emoji-icon:hover,
.chat-send .send-tools .emoji-icon.active{
    background: url(../images/emoji_selected.svg) no-repeat center center;
    background-size: 100% 100%;
}

.chat-send .send-tools .upload-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/upload.svg) no-repeat center center;
    background-size: 100% 100%;
}
.chat-send .send-tools .upload-icon:hover{
    background: url(../images/upload_selected.svg) no-repeat center center;
    background-size: 100% 100%;
}
.chat-send .send-tools .upload-icon:before{
    content: '';
}
.send-tools .tool-emoji .emoji-picker{
    position: absolute;
    left: -20px;
    bottom: 30px;
    z-index: 30;
    padding: 10px;
    width: 380px;
    height: 200px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px #ccc;
}

.send-tools .emoji-picker .emoji-caret{
    position: absolute;
    left: 20px;
    bottom: -10px;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 9px solid #ccc;
}

.send-tools .emoji-picker .emoji-caret:after{
    content: '';
    position: absolute;
    left: -8px;
    top: -10px;
    border: 8px solid transparent;
    border-top-color: #fff;
}


.send-tools .tool-box .upload-icon{
    font-size: 20px;
}
.send-tools .tool-box .ant-upload-list{
    display:none;
}
.send-tools .tool-box .rate-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url(../images/heart.svg) no-repeat center center;
    background-size: 100% 100%;
}
.send-tools .tool-box .rate-icon:hover{
    background:url(../images/heart_selected.svg) no-repeat center center;
    background-size: 100% 100%;
}
.chat-text{
    position: relative;
    padding: 0 5px;
}
.chat-text .chat-textarea{
    height:100px;
    resize: none;
    border-radius: 2px;
    font-size: 14px;
    word-spacing: 2px;
}

/* emoji */
.emoji-item {
    display: inline-block;
    margin: 5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
}

.emoji-item:hover{
    font-size: 30px;
}

/*  customerSuccess-right*/

.customerSuccess-right{
    padding: 20px 2%;
    height: calc(100vh);
    border-left: 1px solid #d8dddf;
}

.user-header{
    line-height: 40px;
    border-bottom: 1px solid #d8dddf;
}
.user-body{
    width: 100%;
}
.user-body table{
    width: 100%;
}
.user-body tr{
    padding: 5px 0;
}
.user-body td{
    padding:0 5px;
    line-height: 22px;
    word-break: break-all;
}
.user-body td.user-td{
    width: 25%;
    font-size: 14px;
}

.chat-empty{
    position: relative;
    z-index: 10;
    text-align:center;
}
.chat-empty-text{
    margin: 250px auto;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 20px;
    color: #1f8ceb;
}

/* search-main */
.search-main{
    position: relative;
    margin: 30px auto;
    width: 800px;
    height: calc(100vh - 130px);
    border:1px solid #fdfdfd;
    border-radius: 4px;
    background-color:#fff;
    box-shadow: 0 0 2px 2px #ccc;
    overflow: auto;
}
.none-results{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    line-height: calc(100vh - 130px);
    text-align: center;
    color: #1f8ceb;
}
#UUCHAT-Search .customerSuccess-header{
    background-position: 10px center;
}
#UUCHAT-Search .search-user-info{
    margin: 0 auto;
    width: 800px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
#UUCHAT-Search .search-list li{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
#UUCHAT-Search .search-list li:hover{
    background-color: #f3f2f1;
    cursor: pointer;
}
#UUCHAT-Search .search-list .search-avatar{
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #ccc;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform:uppercase;
}
#UUCHAT-Search .search-list .search-text{
    width: 600px;
    height: 60px;
    line-height: 20px;
    word-break: break-all;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: flex;
    line-clamp: 2;
    box-orient: vertical;
}

#UUCHAT-Search .search-list .more-search{
    text-align: center;
}
.theme,
.theme .customerSuccess-left li{
    color: #000;
}
.theme .customerSuccess-left li:hover{
    background: rgba(255, 255, 255, 0.85);
}
.theme .customerSuccess-main{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: none;
    border: none;
    color: #000;
}
.theme .customerSuccess-header{
    opacity: 0.8;
    box-shadow: none;
}
.theme .customerSuccess-left,
.theme .ant-tabs-bar,
.theme .customerSuccess-right,
.theme .chat-message,
.theme .user-header,
.theme .message-title{
    border-color: rgba(50, 20, 10, 0.2);
}
.theme .customerSuccess-left li .chat-notify{
    background: rgba(0, 0, 0, 0.5);
}
.theme .message-lists .message-item p{
    color: #000;
}
.theme .customerSuccess-left li .chat-close{
    background: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) and (max-width: 979px){
    .uuchat-customerSuccess .customerSuccess-main{
        margin: 10px;
    }
    .customerSuccess-main .customerSuccess-left .ant-tabs-tab{
        padding: 8px 10px;
    }
}

@media screen and (max-width: 767px){
    .uuchat-customerSuccess .customerSuccess-main{
        margin: 10px;
    }
    .customerSuccess-left{
        width: 100%;
        border: none;
    }
    .customerSuccess-content{
        padding-bottom: 10px;
        border-top: 1px solid #d8dddf;
        border-bottom: 1px solid #d8dddf;
    }
    .customerSuccess-right{
        display: none;
        border-left: 1px solid #d8dddf;
    }
}
@media screen and (max-width: 640px){
    .uuchat-customerSuccess{
        padding: 0;
        height: 100%;
    }
    .customerSuccess-header{
       height: 30px;
       background-position: 10% center;
    }
    .customerSuccess-header .status-bar{
       display:none;
    }
    .customerSuccess-header .m-menu{
        display: inline-block;
    }
    .uuchat-customerSuccess .customerSuccess-main{
        margin: 10px 2%;
        border: 1px solid #000;
        border:none;
    }
    .customerSuccess-content{
        border: none;
    }
    .customerSuccess-left{
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 1000;
        width: 100%;
        min-height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-transition: left 0.5s linear;
        transition: left 0.5s linear;
    }
    .customerSuccess-left .ant-tabs{
        height: 95%;
    }
    .customerSuccess-left .customer-lists{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;
        height: 100%;
        width: 100%;
        background: #fff;
    }
    .customerSuccess-left .customer-lists li .chat-close{
        display: none;
    }
    .customerSuccess-content .chat-message{
        height: calc(100vh - 170px);
    }
    .customerSuccess-content .message-lists{
        height: calc(100vh - 200px);
    }
    .chat-send{
        position: relative;
        height: 105px;
    }
    .send-tools{
        height:30px;
    }
    .chat-text .chat-textarea{
        margin-top: 2%;
        margin-bottom: 2%;
        height: 60px;
    }
    .send-tools .tool-emoji .emoji-picker{
        width: 300px;
        overflow: auto;
    }
    .customerSuccess-right{
        display: none;
    }
    /* search */
    .left-menu{
        display:none;
    }
    .left-menu-show{
        left: 0px;
    }
}

