body{
    background-color: #f8fafc;
}
.login-section{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
}
.login-body{
    padding:25px 25px 0 25px;
    margin: 0 auto;
    width: 400px;
    color: #000;
    box-shadow: 0 0 1px rgba(0,0,0,.09), 0 2px 5px rgba(0,0,0,.03);
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.login-section .login-header {
    width: 100%;
    text-align: center;
}
.login-section .login-header a{
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url(../images/uuchat_logo.svg) no-repeat center center;
}
.login-body label{
    font-size: 14px;
}
.login-body .login-form-button {
    width: 100%;
}

@media screen and (max-width: 640px){
    .login-section{
       width: 100%;
    }
    .login-body{
       width: 96%;
    }
}