.login-body{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    padding:25px 10px 0 10px;
    width: 400px;
    color: #000;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 2px;
    border:1px solid #ccc;
}
.login-body .login-header {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}
.login-body .login-header span{
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url(../images/uuchat_logo_128.png) no-repeat center center;
    background-size: 100%;
}
.login-body label{
    font-size: 14px;
}
.login-body .login-form-forgot {
    float: right;
}
.login-body .login-form-button {
    width: 100%;
}

@media screen and (max-width: 640px){
    .login-body{
        width: 90%;
    }
}