.uuchat-register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 15px 20px 0 20px;
    width: 400px;
    border:1px solid #ccc;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 5px;
}

.register-header{
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}
.register-header span{
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    color: #fff;
    background: url(../images/uuchat_logo_64.png) no-repeat center center;
}
.uuchat-register label{
    font-size: 14px;
}
.uuchat-register .Sign-in{
    display: inline-block;
    float: right;
}

@media screen and (max-width: 640px){
    .uuchat-register{
        padding: 0 10px;
        width: 94%;
    }
}