.uuchat-register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 400px;
}
.register-body{
    margin: 0 auto;
    padding: 15px 25px 0 25px;
    border:1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px rgba(0,0,0,.09), 0 2px 5px rgba(0,0,0,.03);
    border-radius: 5px;
    background-color: #fff;
}
.register-body input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.register-header{
    width: 100%;
    text-align: center;
}
.register-header a{
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    color: #fff;
    background: url(../images/uuchat_logo.svg) no-repeat center center;
}
.uuchat-register label{
    font-size: 14px;
}
.uuchat-register .Sign-in{
    display: inline-block;
    float: right;
}
.uuchat-register .sign-up-btn{
    width: 100%;
}

@media screen and (max-width: 640px){
    .uuchat-register{
        margin-top: 5%;
        padding: 0 10px;
        width: 94%;
    }
}