<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>UUChat</title>
    <link rel="stylesheet" href="app/css/appview.css">
</head>
<body>
<div class="chat-view">
    <div class="body"></div>
    <div class="footer">
        <div class="chat-btns">
            <div class="edit">
                <span class="camera"><input type="file" accept="image/*" capture="camera" id="camera" /></span>
                <span class="photo"><input type="file" accept="image/*" id="photo" /></span>
                <span class="emoji"></span>
                <span class="praise" id="praise"></span>
                <div class="input-text" contenteditable="plaintext-only"></div>
                <span class="extend"><i></i></span>
            </div>
        </div>
        <div class="emoji-picker"></div>
    </div>
    <div class="modal"></div>
</div>
<script src="app/socket.io-2.0.3.min.js"></script>
<script src="app/webview.js"></script>
</body>
</html>