<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>uuchat - a powerful customer success platform</title>
    <link rel="stylesheet" href="/static/css/common.css" />
</head>
<body>
<!-- begin uuchat code  -->
<script type="text/javascript">
    ;(function(u, c, h){
        u.UUCHAT = (function(){
            return {
                domain: 'http://127.0.0.1:9688',
                src: h
            };
        })();
        var s = c.createElement('script'),
                r=c.getElementsByTagName('script')[0];
        s.async = 1;
        s.src = u.UUCHAT.domain+h;
        r.parentNode.insertBefore(s,r);
    })(window, document, "/static/js/loader.js");
</script>
<!-- end uuchat code  -->
</body>
</html>
