<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uuchat - a powerful customer success platform</title>
</head>
<body>
<!-- begin uuchat code  -->
<script>
    ;(function(u, c, h){

        var s = c.createElement('script'),
            r=c.getElementsByTagName('script')[0];

        s.async = 1;
        s.src = h;
        r.parentNode.insertBefore(s,r);

    })(window, document, "http://127.0.0.1:9688/static/js/loader.js");
</script>
<!-- end   uuchat code  -->

</body>
</html>
